{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div class="error">{{ message }}</div>
    {% endif %}
    <div class="login">
        <h1>{{ 'base.global_title'|trans({}, 'base') }}</h1>
        <div class="login-bottom">
            <h2>{{ 'login.signin_form_title'|trans({}, 'login') }}</h2>
            <form action="{{ url('loginAction') }}" method="post">
                <div class="col-md-6">
                    <div class="login-mail">
                        <input id="username" type="text" placeholder="{{ 'login.userName_form_input'|trans({}, 'login') }}" required="">
                        <!-- <i class="fa fa-envelope"></i> -->
                        <i class="glyphicon glyphicon-user"></i>
                    </div>
                    <div class="login-mail">
                        <input id="password" type="password" placeholder="{{ 'login.password_form_input'|trans({}, 'login') }}" required="">
                        <i class="fa fa-lock"></i>
                    </div>
                    
                    {#<a class="news-letter " href="#">
                        <label class="checkbox1"><input type="checkbox" name="checkbox" ><i> </i>Forget Password</label>
                    </a>#}
                </div>
                <div class="col-md-6 login-do">
                    <div class="login-type login-mail">
                        <select id="usertype" class="login-selector" type="text" placeholder="{{ 'login.userType_form_input'|trans({}, 'login') }}" required="">
                            <option value=""></option>
                            {% for user_type in user_types -%}
                                <option value="{{ user_type.id }}"> {{ user_type.type }}</option>
                            {%- endfor %}
                        </select>
                        <i class="glyphicon glyphicon-tags"></i>
                    </div>
                    <label class="hvr-shutter-in-horizontal login-sub">
                        <input type="submit" value="{{ 'login.login_form_button'|trans({}, 'login') }}">
                    </label>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
    <div class="copy-right">
        <p> &copy; 2016 HealthManager. All Rights Reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>	    
    </div>  
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login.css', 'login') }}" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/login.js', 'login') }}"></script>
{% endblock %}



