<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
        <title>{% block title %}HealthManager{% endblock %}</title>
        
        <script type="application/x-javascript"> 
            addEventListener("load", function(){ 
                setTimeout(hideURLbar, 0); 
            }, false); 
            function hideURLbar(){ 
                window.scrollTo(0,1); 
            } 
        </script>
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- Jquery Files -->
        <script src="{{ asset('assets/vendor/minimal_admin_panel/js/jquery.min.js') }}"></script>

        <!-- Bootstrap Files -->
        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
        <script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        
        <!-- Custom Theme files -->
        <link rel="stylesheet" href="{{ asset('assets/vendor/minimal_admin_panel/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/minimal_admin_panel/css/font-awesome.css') }}">
        
        <!-- Base css and js -->
        <link rel="stylesheet" href="{{ asset('css/base.css', 'base') }}">
        <script src="{{ asset('js/base.js', 'base') }}"></script>
                
        {% block menu_javascripts %}{% endblock %}
        {% block menu_stylesheets %}{% endblock %}
        
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <!--scrolling js-->
        <script src="{{ asset('assets/vendor/minimal_admin_panel/js/jquery.nicescroll.js') }}"></script>
        <script src="{{ asset('assets/vendor/minimal_admin_panel/js/scripts.js') }}"></script>
        <!--//scrolling js-->
    </body>
</html>
